# node / build
node_modules/
**/node_modules/
dist/
build/
.out/
.expo/
.next/
.vite/
.pnpm-store/
.turbo/
.cache/
.parcel-cache/
coverage/

# env & OS
.env*
!.env.example
!**/.env.example
.DS_Store

# python venvs
.venv/
**/.venv/
frontend/dist/
.env
# --- monorepo ignores ---
node_modules/
.pnpm-store/
.pnpm/
dist/
build/
coverage/
.expo/
.expo-shared/
.expo/*
.expo/*
*.log
.DS_Store
.env*
apps/**/web-build/
apps/**/.next/
apps/**/.turbo/
apps/**/.cache/
apps/**/.expo/*
.expo
*.env
apps/*/.env
